.btn {
  text-decoration: none;
  color: #fff;
  font-size: 1.25rem;
  padding: 1rem 4rem;
  border-radius: 30px;
  border: none;
  background: var(--morado);
}
.btn--outline {
  background-color: transparent;
  border: 3px solid var(--morado);
}
