.login-content {
  height: 100vh;
  background-image: url("/bg-login.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
}
.login-wrapper {
  background-color: white;

  border-radius: 8px;
}
@media screen and (min-width: 1400px) {
  .login-wrapper {
  }
}
.form {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}
.wrapper-button {
  display: flex;
  justify-content: center;
}
.list_item {
  font-weight: 500;
}
