.login-content {
  height: 100vh;
  background-image: url("../../assets/images/paisaje.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
}
.login-wrapper {
  background-color: white;
  width: 90%;
  border-radius: 8px;
}
@media screen and (min-width: 1400px) {
  .login-wrapper {
    width: 20%;
  }
}
.form {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}
.wrapper-button {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.list_item {
  font-weight: 500;
}
